<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 로그인
  body
    form(action="/auth/login", method="post")
      input(type="text", name="username" placeholder="email")
      input(type="password", name="password", placeholder="password")
      input(type="hidden", name="returnUrl", value=returnUrl)
      button(type="submit") 로그인 